<div id="app">
  <div class="stars"></div>
  <div class="wrapper mountains-bg">
    <p class="header">we're launching soon</p>
    <div class="flip-clock-container">

      <div class="column">
        <app-flip-clock  [nextVal]="nextDay" [type]="'days'"></app-flip-clock>
      </div>

      <div class="column">
        <app-flip-clock [nextVal]="nextHours" [type]="'hours'"></app-flip-clock>
      </div>

      <div class="column">
        <app-flip-clock [nextVal]="nextMins" [type]="'minutes'"></app-flip-clock>
      </div>

      <div class="column">
        <app-flip-clock [nextVal]="nextSecs" [type]="'seconds'"></app-flip-clock>
      </div>
    </div>

    <countdown (event)="onNewValue($event)"></countdown>

    <div class="footer">
      <a href="https://www.facebook.com/" target="_blank"
        ><img src="../assets/img/icon-facebook.svg" alt="Link to Facebook"
      /></a>
      <a href="https://www.pinterest.com/" target="_blank"
        ><img src="../assets/img/icon-pinterest.svg" alt="Link to Pinterest"
      /></a>
      <a href="https://www.linkedin.com/company/cohesionib/" target="_blank"
        ><img src="../assets/img/icon-instagram.svg" alt="Link to Instagram"
      /></a>
    </div>
  </div>
</div>
