<div id="app">
  <div class="stars"></div>
  <div class="mountains">
    <p class="header">we're launching soon</p>
    <app-flip-clock id="flip-clock-container"></app-flip-clock>
    <div class="footer">
      <a href=""><img src="../assets/img/icon-facebook.svg" alt="Link to Facebook"></a>
      <a href=""><img src="../assets/img/icon-pinterest.svg" alt="Link to Pinterest"></a>
      <a href=""><img src="../assets/img/icon-instagram.svg" alt="Link to Instagram"></a>
    </div>
  </div>
</div>
